
/* SIMPLE
-------------------------------------------------*/

#sqs-mobile-nav(simple, @standardEl: '#main-navigation', @mobileEl: '#mobile-navigation', @minWidth: 30em, @background: orange, @color: white, @borderRadius: 0px, @label: 'Menu', @closeLabel: 'Menu') {

  (~"@{mobileEl}") {
    width: 100%;
    padding: 1em 0;
    text-align: center;
  }
}

/* FIXED TOP
-------------------------------------------------*/

#sqs-mobile-nav(fixed-top, @standardEl: '#main-navigation', @mobileEl: '#mobile-navigation', @minWidth: 30em, @background: orange, @color: white, @borderRadius: 0px, @label: 'Menu', @closeLabel: 'Menu') {

  (~"@{mobileEl}") {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 1em 0;
    text-align: center;    
  }
}

/* FIXED RIGHT
-------------------------------------------------*/

#sqs-mobile-nav(fixed-right, @standardEl: '#main-navigation', @mobileEl: '#mobile-navigation', @minWidth: 30em, @background: orange, @color: white, @borderRadius: 0px, @label: 'Menu', @closeLabel: 'Menu') {
  
  (~"@{mobileEl}") {
    position: fixed;
    top: 1em;
    right: 1em;
    padding: .5em 1em;
    z-index: 9999;

    /*#mobile-navigation-label {
      padding: .5em 0;      
    }*/
 }
}

/* PUSH RIGHT
-------------------------------------------------*/

#sqs-mobile-nav(push-right, @standardEl: '#main-navigation', @mobileEl: '#mobile-navigation', @minWidth: 30em, @background: orange, @color: white, @borderRadius: 0px, @label: 'Menu', @closeLabel: 'Menu') {

  body,
  (~"@{mobileEl}") {
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -ms-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;  
  }  

  body {
    position: relative;
    left: 0;
    
    &.sqs-mobile-nav-open {      
      left: 100%;
      overflow: hidden;
    }
  }

  (~"@{mobileEl}") {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 99998;

    #mobile-navigation-label {
      position: fixed;
      z-index: 99999;
      top: 1em;
      right: 1em;
      float: right;
      padding: .5em 1em;
    }

    ul li {
      padding: 0 2em;
    }

    &.sqs-mobile-nav-open {
      left: 0;
      
      ul {
        padding: 1em 0;
      }

      #mobile-navigation-label {
        background: @color;
        color: @background;
      }
    }  
  }
}

/* SLIDE DOWN
-------------------------------------------------*/

#sqs-mobile-nav(slide-down, @standardEl: '#main-navigation', @mobileEl: '#mobile-navigation', @minWidth: 30em, @background: orange, @color: white, @borderRadius: 0px, @label: 'Menu', @closeLabel: 'Menu') {

  (~"@{mobileEl}") {
    -webkit-transition: top 0.3s ease-out;
    -moz-transition: top 0.3s ease-out;
    -ms-transition: top 0.3s ease-out;
    -o-transition: top 0.3s ease-out;
    transition: top 0.3s ease-out;  
  }  

  (~"@{mobileEl}") {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;

    #mobile-navigation-label {
      cursor: pointer;
      position: fixed;
      z-index: 99999;
      top: 1em;
      right: 1em;
      float: right;
      padding: .5em 1em;
    }

    ul li {
      padding: 0 2em;
    }

    &.sqs-mobile-nav-open {
      top: 0;
      
      ul {
        padding: 1em 0;
      }

      #mobile-navigation-label {
        background: @color;
        color: @background;
      }
    }  
  }
}

/* COMMON CODE
-------------------------------------------------*/

#sqs-mobile-nav(@_, @standardEl: '#main-navigation', @mobileEl: '#mobile-navigation', @minWidth: 30em, @background: orange, @color: white, @borderRadius: 0px, @label: 'Menu', @closeLabel: 'Menu') {

  /* MOBILE ELEMENT
  -----------------------------------------------*/

  (~"@{mobileEl}") {
    display: none;
    cursor: pointer;
    border-radius: @borderRadius;
    background: @background;    

    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    #mobile-navigation-label {
      color: @color;
      background: @background;
      border-radius: @borderRadius;      
      cursor: pointer;

      &:after {
        content: @label;
      }
    }

    ul {
      display: none;
      list-style: none;
      padding: 0;
      margin: 1em 0 0 0;

      a {
        color: @color;
        text-decoration: none;
      }
    }
  
    &.sqs-mobile-nav-open {
      ul {
        display: block;
      }

      #mobile-navigation-label:after {
        content: @closeLabel;
      }
    }
  }

  /* MEDIA QUERY
  -----------------------------------------------*/

  @media screen and (max-width: @minWidth) {
    (~"@{standardEl}") {
      display: none;
    }

    (~"@{mobileEl}") {
      display: block;
    }
  }
}
